@model IEnumerable<dynamic>

<table class="table">
    <thead>
        <tr>
            <th>Hizmet Adı</th>
            <th>Personel Adı</th>
            <th>Personel Soyadı</th>
            <th>Randevu Tarihi</th>
            <th>Başlangıç Saati</th>
            <th>Durum</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var randevu in Model)
        {
            <tr>
                <td>@randevu.hizmetadi</td>
                <td>@randevu.personeladi</td>
                <td>@randevu.personelsoyadi</td>
                <td>@randevu.randevutarihi.ToShortDateString()</td>
                <td>@randevu.baslangicsaati</td>
                <td>@randevu.durum</td>
            </tr>
        }
    </tbody>
</table>
