@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Dashboard";
}
@model IEnumerable<webOdevi.Models.personel>
<div class="login-body">


    @if (TempData["Mesaj"] != null)
    {
        <div class="alert alert-info">
            @TempData["Mesaj"]
        </div>
    }

    <table class="table table-bordered" style="color:aliceblue;">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Pozisyon</th>
                <th>Telefon</th>
                <th>E-posta</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody style="color:aliceblue;">
            @foreach (var personel in Model)
            {
                <tr>
                    <td>@personel.personeladi</td>
                    <td>@personel.personelsoyadi</td>
                    <td>@personel.pozisyon</td>
                    <td>@personel.personeltelefon</td>
                    <td>@personel.personeleposta</td>

                    <td>
                        <a asp-controller="personel" asp-action="PersonelGuncelle" asp-route-id="@personel.personelid" class="btn btn-warning">Güncelle</a>
                        <form asp-action="SilPersonel" asp-route-id="@personel.personelid" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Silmek istediğinize emin misiniz?')">Sil</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
