@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Dashboard";
}
@model IEnumerable<dynamic>

<div class="login-body">
    <table style="color:aliceblue;" class="table table-bordered">
        <thead>
            <tr>
                <th>Personel Adı</th>
                <th>Personel Soyadı</th>
                <th>Randevu Sayısı</th>
                <th>Toplam Kazanç (₺)</th>
                <th>Çalışma Süresi (dk)</th>
            </tr>
        </thead>
        <tbody style="color:aliceblue;">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PersonelAdi</td>
                    <td>@item.PersonelSoyadi</td>
                    <td>@item.RandevuSayisi</td>
                    <td>@item.ToplamKazanc.ToString("C")</td>
                    <td>@item.ToplamSure</td>
                </tr>
            }
        </tbody>
    </table>
</div>
